/*
Theme Name: Meier Sneyders Architekten
Template: meier-sneyders
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup (body, common classes, vertical rhythm, etc)
/*-----------------------------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: #fff;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

a:focus { outline: thin dotted; }

a:hover,
a:active { outline: 0; }

a img {
	border: 0;
	vertical-align: bottom;
}

/* Global --- */
body,
button,
input,
select,
textarea {
	color: #000;
	font: 18px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
	line-height: 135%;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #000;
	line-height: 1.6em;
}

h1 {
	font-size: 35px;
}
h2 {
	font-size: 25px;
	margin: 1em 0;
}
h3 {
	font-size: 20px;
	margin: 1em 0;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
}

hr {
	background-color: #eee;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

p { margin-bottom: 2em; }

ul, ol { margin: 0 0 2em 2em; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd { margin: 0 1.5em 1.5em; }

b, strong { font-weight: bold; }

dfn, cite, em, i { font-style: italic; }

blockquote {
	font-size: 17px;
	font-style: italic;
	line-height: 29px;
	color: #bebebe;
	margin-left: 100px;
}
.single-portfolio blockquote{
	font-size: 20px;
	line-height: 1.6em;
	margin: 0 100px;
	text-align: center;
}

address { margin: 0 0 1.5em; }

pre {
	background: #eeeeee;
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
	font-size: 13px;
	line-height: 1.5;
	overflow: auto;
	max-width: 100%;
	padding: 1.5em;
	margin-bottom: 2em;
}

code, kbd, tt, var { font: 13px Consolas, "Andale Mono", Courier, "Courier New", monospace; }

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { bottom: 1ex; }

sub { top: 0.5ex; }

small { font-size: 75%; }

big { font-size: 125%; }

figure { margin: 0; }

table {
	border: 1px solid #bbb;
	margin: 0 0 1.5em;
	width: 100%;
}

table .even { background: #eeeeee; }

th { font-weight: bold; }

tr { border-bottom: 1px solid #bbb; }

th,
td {
	padding: 5px;
	text-align: center;
}

img {
	height: auto;
	max-width: 100%;
	min-width: 60%;
	width: auto;
}

/* Form Elements --- */
button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button,
input { line-height: normal; }

button,
html input[type="submit"],
input[type="reset"],
input[type="submit"] {
	background: #f6f5f5;
	border: 0;
	color: #000;
	cursor: pointer;
	-webkit-appearance: button;
	font-size: 12px;
	line-height: 1;
	padding: 20px 30px;
	outline: none;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #eee;
}

button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: #ddd;
}

input[type="checkbox"],
input[type="radio"] { padding: 0; }

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="seach"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	background: #f6f5f5;
	border: 0;
	border-radius: 3px;
	color: #000;
	padding: 20px;
	outline: none;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #000;
}

textarea {
	overflow: auto;
	vertical-align: top;
	width: 100%;
}

/* Links --- */
a,
a:visited {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active,
#content a:hover,
#content a:focus,
#content a:active {
	color: #000;
	text-decoration: none;
}



a.btn,
#content a.btn {
	display: inline-block;
	background: #f6f5f5;
	font-size: 14px;
	color: #b7b7b7;
	text-transform: uppercase;
	padding: 13px 44px;
}
a.btn:hover,
#content a.btn:hover { background: #e6e6e6; }

/* Alignment --- */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

/* Clears --- */
.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.author-bio:before,
.author-bio:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-navigation:before,
.site-navigation:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.page-navigation:before,
.page-navigation:after,
.single-page-navigation:before,
.single-page-navigation:after,
.comment-navigation:before,
.comment-navigation:after,
.type-portfolio:before,
.type-portfolio:after,
.single-portfolio .entry-navigation,
#commentform {
	content: ' ';
	display: table;
}

.clear:after,
.entry-content:after,
.author-bio:after,
.comment-content:after,
.site-header:after,
.site-navigation:after,
.site-content:after,
.site-footer:after,
.page-navigation:after,
.single-page-navigation:after,
.comment-navigation:after,
.type-portfolio:after,
.single-portfolio .entry-navigation,
#commentform { clear: both; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/* Helpers --- */
.hidden { display: none; }


/*-----------------------------------------------------------------------------------*/
/*	2. Structure
/*-----------------------------------------------------------------------------------*/

body { padding-top: 100px; }

.site-content {
	max-width: 1240px;
	margin: 0 auto;
	padding: 40px 40px 0;
}

.site-main.full-width { width: 100%; }

/*-----------------------------------------------------------------------------------*/
/*	3.	Header Styles
/*-----------------------------------------------------------------------------------*/

.site-header {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 999;
	width: 100%;
	background: #fff;
	min-height: 100px;
	padding: 0 40px;
}

.site-logo {
	float: right;
	color: #000;
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;
	text-transform: uppercase;
}


.site-logo a {
	color: #000;
	max-width: 100%;
	min-width: 50%;
}
.site-logo a:hover {
	color: #bbb;
	text-decoration: none;
}

.site-tagline {
	display: inline;
	color: #bbb;
	font-size: 15px;
	font-weight: normal;
	text-transform: none;
	margin-left: 10px;
}

.footer-logo{
	float: right;
	color: #000;
	font-size: 23px;
	font-weight: bold;
	line-height: 23px;
	text-transform: uppercase;
}

.footer-logo a {
	color: #000;
	max-width: 100%;
	min-width: 50%;
}
.footer-logo a:hover {
	color: #bbb;
	text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/
/*	4.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/

.site-navigation {
	float: left;
	padding-top: 25px;
}

/* Essential Styles --- */
.zilla-sf-menu,
.zilla-sf-menu * {
	list-style: none;
	margin: 0;
	padding: 0;
}

.zilla-sf-menu li {
	position: relative;
	white-space: nowrap;
}

.zilla-sf-menu ul {
	display: none;
	left: 0;
	min-width: 12em;
	position: absolute;
	top: 100%;
	z-index: 99;
}

.zilla-sf-menu > li { float: left; }

.zilla-sf-menu li:hover > ul,
.zilla-sf-menu li.sfHover > ul { display: block; }

.zilla-sf-menu a {
	display: block;
	position: relative;
}

.zilla-sf-menu ul ul {
	left: 100%;
	top: 0;
}

/* Skin --- */
.primary-menu a {
	font-size: 15px;
	font-weight: bolder;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.primary-menu > li > a {
	padding: 0px 0;
	margin-left: 0px;
	margin-right: 20px;
}

.primary-menu a:hover,
.primary-menu .sfHover > a,
.primary-menu .current-menu-item > a {
	color: #000;
	text-decoration: underline;
}

.primary-menu .sub-menu {
	background: #fff;
	border: 1px solid #d9d9d9;
}

.primary-menu .sub-menu .sub-menu { padding: 2px 0; }

.primary-menu .sub-menu a {
	border-top: 1px solid #d9d9d9;
	margin: 0;
	padding: 5px 10px;
}

.primary-menu .sub-menu li:first-child a { border-top: none; }

/* Mobile Menu Skin --- */
.zilla-mobile-menu-wrap {
	position: relative;
	margin: 0 -20px;
}

.zilla-mobile-menu {
	background: #000;
	opacity: 100%;
	display: block;
	margin-left: 0;
	padding: 0 0 20px;
	padding: 2rem 0 2rem;
	width: 100%;
	z-index: 998;
	top: -50px;
	-webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.08);
	box-shadow: 0 5px 0 rgba(0,0,0,0.08);
}

.zilla-mobile-menu ul {
	background: transparent;
	margin: 0 0 0 10px;
}

.zilla-mobile-menu li {
	list-style: none;
}

.zilla-mobile-menu > li {
	margin: 0 auto;
	width: 90%;
	text-align: center;
}

.zilla-mobile-menu > li:first-child { border-top: none; }

.zilla-mobile-menu a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	height: 2em;
	line-height: 2em;
	font-size: 24px;
}

.zilla-mobile-menu .current-menu-item a,
.zilla-mobile-menu .current_page_item a,
.zilla-mobile-menu a:hover {

}

.zilla-mobile-menu-dropdown {
	background: transparent;
	border-bottom: none;
	cursor: pointer;
	display: block;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 1em;
	position: absolute;
	left: 0px;
	width: 100px;
	top: 0px;
	right: 20px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 9999;
}

.zilla-mobile-menu-dropdown:hover { border-bottom: none; }

/* Page Navigation --- */
.page-navigation {
	text-align: right;
	margin-bottom: 30px;
}
.page-navigation .dots { color: #bbb; }
.page-navigation a,
.page-navigation span { margin-left: 5px; }

/*-----------------------------------------------------------------------------------*/
/*	5.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

/* Titles --- */
.archive-header,
.search-header {
	border-bottom: 1px solid #EEF0ED;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

.entry-title,
.page-title,
.archive-title { margin: 20px 0 20px 0; }

#content .entry-title,
#content .page-title,
#content .archive-title,
#content .entry-title a {
	font-size: 26px;
	font-weight: bold;
	line-height: 1em;
	text-transform: none;
	color: #000;
}
#content .entry-title a:hover { color: #bbb; }

/* Content --- */
.entry-content,
.entry-summary {}
.sticky {}

.entry-thumbnail { margin-bottom: 2em; }

.entry-meta {
	font-size: 12px;
}
.comment-count { float: right; }
.comment-count a { color: #656565; }
.comment-count a:hover { color: #bbb; }

.entry-footer {
	border-bottom: 1px solid #eef0ed;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

.author-bio {
	padding: 20px;
	background: #fbfbfb;
	border: 1px solid #efefef;
}

.author-bio .avatar	{
	float: left;
	margin: 0 20px 0 0;
	width: 40px;
}

.author-title {
	font-weight: bold;
	margin-left: 60px;
	margin-left: 6rem;
}

.author-description {
	margin-left: 60px;
	margin-left: 6rem;
}

/* Media Elements --- */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption,
.gallery-caption {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	margin: 1em 1em 1.5em;
	max-width: 100%;
	text-align: left
;
}

.wp-caption {
	height: auto;
	background: #fff;
	display: block;
	margin: 0%;
	padding-top: 2%;
	max-width: 100%;
}

.wp-caption .wp-caption-text { margin: 0.625em 0; }

.site-main .gallery { margin-bottom: 1.5em; }

.site-main .gallery a img {
	border: none;
	height: auto;
}

.site-main .gallery dd {
	margin: 0.625em 0;
	padding: 0 0.625em;
}

.site-secondary p { line-height: 1.6em; }

embed,
object,
iframe { max-width: 100%; }

/* Audio/Video jPlayer Skin --- */
.entry-audio,
.entry-video { margin-bottom: 2em; }
.entry-audio img { display: block; }

.jp-audio,
.jp-video {
	margin: 0 auto -1.57142857142em;
	width: 480px;
	max-width: 100%;
}

.jp-video + .jp-audio,
.fluid-width-video-wrapper + .jp-audio { margin-top: 2.71428571428em; }

.jp-gui { margin-bottom: -35px; }

.jp-interface {
	background: #232527 url(images/media_player.png) 0 -132px repeat-x;
	border: 1px solid #000000;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #4B4E53 inset, 0 1px 3px rgba(0,0,0,.7);
	box-shadow: 0 1px 0 #4B4E53 inset, 0 1px 3px rgba(0,0,0,.7);
	margin-bottom: 3px;
	position: relative;
	height: 33px;
	width: 91.25%; /* 438 / 480 */
	left: 4.545454545%; /* 20 / 440 */
	top: -53px;
}

.jp-video-full { position: relative; }

.jp-video-full .jp-jplayer {
	background: #000000;
	top: 0;
	left: 0;
	position: fixed !important;
	position: relative;
	overflow: hidden;
	z-index: 998;
}

.jp-video-full .jp-gui {
	z-index: 1000;
	display: block;
}
.jp-video-full .jp-interface {
	bottom: 0;
	top: auto;
	left: 0.25%;
	position: fixed;
	width: 99%;
	z-index: 1000;
}

/* Controls ----- */
.jp-controls,
.jp-toggles {
	float: left;
	margin: 0;
	padding: 0;
	z-index: 100;
}

.jp-controls li { float: left; }

.jp-controls a {
	position: absolute;
	overflow: hidden;
	text-indent: -999em;
}

.jp-play,
.jp-pause {
	background: #d2d6db url(images/media_player.png) 0 0 no-repeat;
	border-top: 1px solid #4b4e53;
	border-bottom: none;
	display: block;
	z-index: 2;
	height: 100%;
	width: 30px;
}

.jp-play:hover,
.jp-pause:hover {
	background-color: #0076a3;
	border-bottom: none;
}

.jp-pause { background-position: 0 -33px; }

.jp-play,
.jp-pause {
	border-radius: 3px 1px 1px 3px;
	border-right: 1px solid #4b4e53;
}

.jp-progress {
	position: absolute;
	padding: 0 25px 0 40px;
	margin: 11px 0;
	width: 100%;
	height: 9px;
}

.jp-seek-bar {
	background: #141618;
	border-bottom: 1px solid #2c2d2f;
	border-left: 1px solid #0f0f10;
	border-right: 1px solid #0f0f10;
	border-top: 1px solid #000000;
	border-radius: 2px;
	cursor: pointer;
	height: 8px;
	padding: 0 0 1px 0;
	position: relative;
	z-index: 999;
}

.jp-play-bar {
	border-radius: 1px 2px 2px 1px;
	background: #0076a3;
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
	background-size: 8px 8px;
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	-webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .2) inset;
	box-shadow: 0 5px 5px rgba(255, 255, 255, .2) inset;
	height: 8px;
}

.jp-play-bar {
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
	0% { background-position: 0 0; }
	100% { background-position: 60px 0; }
}

@-moz-keyframes animate-stripes {
	0% { background-position: 0 0; }
	100% { background-position: 60px 0; }
}

/* Audio/Video ----- */

.wp-video {
	max-width: 100% !important;
	height: auto !important;
}
.mejs-container {
	width: 100% !important;
	height: auto !important;
	padding-top: 56.3%;
}
.mejs-container.mejs-audio { padding-top: 0; }
.mejs-overlay, .mejs-poster {
	width: 100% !important;
	height: 100% !important;
}

/* Gallery ----- */

.zilla-gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.zilla-gallery li { margin-bottom: 40px; }
.zilla-gallery img { display: block; }

.type-post .zilla-gallery { margin: 0 0 2em 0; }
.type-post .zilla-gallery li {
	display: block;
	height: 100%;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.type-post .zilla-gallery img { display: none; }

.zilla-gallery .slidesjs-next,
.zilla-gallery .slidesjs-previous {
	position: absolute;
	bottom: 20px;
	z-index: 20;
	display: block;
	width: 55px;
	height: 55px;
	background: #000 url(images/slider-nav.png) no-repeat;
	text-indent: -9999px;
}
.zilla-gallery .slidesjs-next {
	right: 20px;
	background-position: 100% 0;
}
.zilla-gallery .slidesjs-previous { right: 80px; }

/* Quote/Link ----- */
.entry-quote,
.entry-link {
	margin-bottom: 2em;
	text-align: center;
	background-color: #444;
	position: relative;
	padding: 50px 0;
}
.entry-quote.has-post-thumb,
.entry-link.has-post-thumb { padding: 0; }
.entry-quote.has-post-thumb img,
.entry-link.has-post-thumb img { display: block; }
.entry-quote.has-post-thumb .overlay,
.entry-link.has-post-thumb .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.entry-quote.has-post-thumb .wrapper,
.entry-link.has-post-thumb .wrapper {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.entry-quote blockquote,
.entry-link a {
	font-size: 35px;
	font-style: normal;
	line-height: 1.6em;
	color: #fff;
	margin: 0 10%;
}
.entry-quote cite {
	display: block;
	font-size: 21px;
	font-style: normal;
	line-height: 1.6em;
	color: #fff;
	margin: 20px 10% 0;
}
#content .entry-link a {
	display: inline-block;
	color: #fff;
}
#content .entry-link a:hover { color: #bbb; }

/* 404 ----- */

#searchform input { width: 100%; }

/*-----------------------------------------------------------------------------------*/
/*  6. Portfolio
/*-----------------------------------------------------------------------------------*/

.page-template-template-portfolio-php .site-main,
.page-template-template-portfolio-2col-php .site-main,
.post-type-archive-portfolio .site-main,
.tax-portfolio-type .site-main,
.single-portfolio .site-main {
	float: none;
	width: auto;
}

.portfolio-type-nav {
	list-style-type: none;
	margin: 0 0 40px 0;
	padding: 0;
	text-align: right;
	font-size: 16px;
	text-transform: uppercase;
}
.portfolio-type-nav li { display: inline; }
#content .portfolio-type-nav a:hover,
#content .portfolio-type-nav a.active { color: #000; }

/* Default */
.type-portfolio-1col {
	width: 100%;
	margin-bottom: 40px;
}
.type-portfolio-1col .entry-thumbnail {
	float: right;
	margin: 0;
	position: relative;
}
.type-portfolio-1col .entry-thumbnail a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
.type-portfolio-1col .entry-thumbnail a:hover .overlay { opacity: 1.0; }
.type-portfolio-1col .entry-header {
	float: left;
	width: 360px;
}

/* 2 col */
.page-template-template-portfolio-2col-php .portfolio-container {
	width: 1200px;
	margin-left: -20px;
}

.type-portfolio-2col {
	float: left;
	width: 560px;
	height: 370px;
	margin: 0 20px 40px;
	overflow: hidden;
}
.type-portfolio-2col a {
	display: block;
	position: relative;
}
.type-portfolio-2col a:hover .entry-title { opacity: 1; }
.type-portfolio-2col .entry-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 370px;
	margin: 0;
	background: rgba(0,0,0,0.2);
	text-align: center;
	display: table;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
.type-portfolio-2col .entry-title .cell {
	display: table-cell;
    vertical-align: middle;
}
.type-portfolio-2col .entry-title .cell span {
	display: inline-block;
	background: transparent;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 1.6em;
	color: #fff;
	padding: 20px 30px;
	max-width: 80%;
}

/* Single */
.single-portfolio #content { margin-bottom: 30px; }
.single-portfolio .entry-categories { float: right; }
.single-portfolio .entry-categories ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.single-portfolio #content .entry-categories a:hover { color: #000; }
.single-portfolio .entry-content { max-width: 100%; }
.single-portfolio .entry-navigation {
	width: 100%;
	height: 20px;
	margin: 10px 0 10px;
}
.single-portfolio .entry-navigation .previous { float: right; }
.single-portfolio .entry-navigation .previous {
	font-size: 13px;
	line-height: 20px;
	color: #000;
	text-transform: uppercase;
	max-width: 48%;
	margin-left: 40px;
}
.single-portfolio .entry-navigation .next { float: right; }
.single-portfolio .entry-navigation .next {
	font-size: 13px;
	line-height: 20px;
	color: #000;
	text-transform: uppercase;
	max-width: 48%;
	margin-left: 40px;
}
.single-portfolio #content .entry-navigation a { color: #000; }
.single-portfolio #content .entry-navigation a:hover { color: #bbb; }
.single-portfolio .entry-navigation .lt,
.single-portfolio .entry-navigation .gt {
	display: inline-block;
	background: url(images/slider-nav.png) no-repeat;
	width: 10px;
	height: 20px;
	margin-left: 3px;
	margin-right: 3px;
	text-indent: -9999px;
}
.single-portfolio .entry-navigation .lt { background-position: -21px 50%; }
.single-portfolio .entry-navigation .gt { background-position: -78px 50%; }

.single-portfolio .portfolio-btn {
	display: inline-block;
	margin-bottom: 2em;
}

.single-portfolio .layout-2col .portfolio-content {
	float: left;
	width: 360px;
}
.single-portfolio .layout-2col .portfolio-content .entry-content { max-width: none; }
.single-portfolio .layout-2col .portfolio-media-feature,
.single-portfolio .layout-2col .portfolio-media-main {
	margin-left: 400px;
}
.single-portfolio .layout-2col .entry-categories { float: none; }
.single-portfolio .layout-2col .entry-categories ul {
	text-align: left;
	margin-bottom: 2em;
}
.single-portfolio .layout-2col .entry-navigation { clear: both; }

.portfolio-media-feature { margin-bottom: 2em; }

/*-----------------------------------------------------------------------------------*/
/*	7.	Comments
/*-----------------------------------------------------------------------------------*/

/* Page jump fix to account for fixed header */
#comments {
	position: relative;
	top: -120px;
	visibility: hidden;
}

.comments-title {
	font-size: 25px;
}

.pings-title {}

.commentlist {
	margin: 40px 0 0;
	list-style-type: none;
}

.pinglist {
	margin: 40px 0 40px 30px;
	list-style-type: decimal;
}

.comment {

}

.comment-content {
	font-size: 13px;
	line-height: 1.6em;
	margin: 0 0 0 60px;
}

.comment-author cite {
	font-size: 15px;
	font-style: normal;
	line-height: 25px;
	color: #000;
}
.comment-author .author-tag { color: #bbb; }

.comment .avatar {
	float: left;
	margin: 0 10px 0 0;
	border-radius: 50px;
}

.comment-meta {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 15px;
}

.children {
	list-style-type: none;
	margin-left: 60px;
}

.nocomments {
	text-align: center;
	padding: 20px;
}

#commentform {
	width: 100%;
	margin: 20px 0;
}
#commentform p { margin-bottom: 10px; }
#commentform input,
#commentform textarea { width: 100%; }
#commentform .form-submit input {
	width: auto;
	font-size: 14px;
	float: right;
	color: #b7b7b7;
	text-transform: uppercase;
}


/*-----------------------------------------------------------------------------------*/
/*	8.	Footer Styles
/*-----------------------------------------------------------------------------------*/

.site-footer {
	max-width: 100%;
	margin: 0;
	padding: 0px 40px;
	font-size: 11px;
	color: #bbb;
}
.site-footer p { margin: 0; }
.site-footer .credit {
	float: left;
	line-height: 60px;
}
.site-footer .credit span { margin-right: 20px; }

.site-footer .social { float: right; }
.site-footer .social a {
	display: inline-block;
	margin-left: 25px;
}
.site-footer .social a svg {
	width: 20px;
	height: 20px;
	fill: #bbb;
	vertical-align: middle;
}
.site-footer .social a:hover svg { fill: #555; }
.site-footer .social .behance svg { width: 30px; height: 30px; }
.site-footer .social .medium svg { width: 27px; height: 27px; }


/*-----------------------------------------------------------------------------------*/
/*	9.	Page & Page Templates
/*-----------------------------------------------------------------------------------*/

.archive-lists .children { margin-bottom: 0; }

.full-width { width: auto; }

.contactform { margin-left: 0; }

.contactform li { list-style-type: none; }

.contactform li label {
	display: block;
	margin-bottom: 10px;
}

.contactform li input[type="text"] {
	width: 100%;
	margin-bottom: 15px;
}

.contactform li textarea {
	width: 100%;
	height: 200px;
	margin-bottom:15px;
	resize: none;
}

.contactform li button {
	float: right;
	font-size: 14px;
	color: #b7b7b7;
	text-transform: uppercase;
}

label.error { color: red; }

/* Home */
.page-template-template-home-php .site-content {
	max-width: none;
	padding-top: 0;
}
.page-template-template-home-php .site-main {
	float: none;
	width: auto;
}
.page-template-template-home-php .site-footer {
	max-width: none;
	padding: 0px 40px;
}

.home-slider {
	position: relative;
}
.home-slider .portfolio a {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.home-slider .portfolio:first-child { display: block; }
.home-slider .entry-title {
	position: absolute;
	bottom: 40px;
	left: 0px;
	background: transparent;
	font-size: 13px !important;
	line-height: 1.6em !important;
	color: #000 !important;
	padding: 15px 30px;
	margin: 0;
	max-width: 70%;
}

.home-slider .slidesjs-container,
.home-slider .slidesjs-control {
	width: 100% !important;
}
.home-slider .slidesjs-slide {
	min-width: 100%;
	min-height: 100%;
}
.home-slider .slidesjs-next,
.home-slider .slidesjs-previous {
	position: absolute;
	bottom: 40px;
	z-index: 20;
	display: block;
	width: 55px;
	height: 55px;
	background: transparent url(images/slider-nav.png) no-repeat;
	text-indent: -9999px;
}
.home-slider .slidesjs-next {
	right: 40px;
	background-position: 100% 0;
}
.home-slider .slidesjs-previous { right: 105px; }

/* About */
.page-template-template-about-php .entry-content {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	column-gap: 40px;
}

.entry-profiles { margin: 70px 0 30px; }
.entry-profiles .profile {
	float: left;
	width: 360px;
	margin: 0 40px 40px 0;
}
.entry-profiles .profile:nth-child(3n) { margin-right: 0; }
.entry-profiles .profile:nth-child(3n+1) { clear: left; }
.entry-profiles .profile-image {
	display: block;
	margin-bottom: 35px;
}
.entry-profiles .profile-name {
	font-size: 23px;
	line-height: 1.4;
	margin: 0 0 5px 0;
}
.entry-profiles .profile-title {
	opacity: 0.5;
	line-height: 1.4em;
}
.entry-profiles .profile-links a {
	display: block;
	float: left;
	background: #f1f1f1;
	color: #b7b7b7;
	text-align: center;
	width: 18%;
	padding: 10px 0;
	margin: 0 2.5% 10px 0;
	border-radius: 50px;
}
.entry-profiles .profile-links a:nth-child(5n) { margin-right: 0; }
.entry-profiles .profile-links a:hover { background: #e6e6e6; }
.entry-profiles .profile-links a svg {
	width: 30px;
	height: 39px;
	vertical-align: middle;
	fill: #bbb;
}

/* Contact */
.entry-contact-details {
	border-top: 1px solid #eef0ed;
	margin: 40px 0;
	padding-top: 40px;
}
.entry-contact-details h3 { margin: 0 0 40px 0; }
.entry-contact-details .contact-map {
	float: right;
	margin-bottom: 1em;
}
.entry-contact-details .contact-phone { margin-bottom: 0; }

/*-----------------------------------------------------------------------------------*/
/*	10.	Widgets
/*-----------------------------------------------------------------------------------*/

.widget {
	font-size: 13px;
	margin: 0 0 50px;
}

.widget-title {
	color: #323232;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.3em;
	margin: 0 0 15px;
}

.widget > ul,
.widget > ol {
	list-style-type: none;
	margin: 0
}

.widget select { max-width: 100%; }

/* Recent Work Widget ---------------------------------------------------*/
.widget.zilla_recentwork_widget {
	margin-bottom: 20px;
}

/* Search Widget --------------------------------------------------------*/
.widget_search #s { width: 100%; }

.widget_search form,
.widget_search fieldset { margin: 0; }

/* Calander Widget -------------------------------------------------------*/
.widget_calendar caption { margin-bottom: 5px; }

.widget_calendar table { width: 100% }

/* 125 x 125 Widget ------------------------------------------------------*/
.zilla_ad_widget { padding-right: 0; }

.ads-125 img { margin: 0 5px 10px 0; }

/* Twitter Widget -------------------------------------------------------*/
.zilla-tweet-widget ul {
	margin: 0;
	list-style-type: none;
}

.zilla-tweet-widget li {
	margin-bottom: 10px;
}

.zilla-tweet-widget .twitter-time-stamp {
	display: none;
}

.zilla-tweet-widget .twitter-link {}

/* Flickr Widget --------------------------------------------------------*/
.zilla_flickr_widget { padding-right: 0; }

.zilla_flickr_widget > div {
    margin-right: -20px;
    padding-right: 10px;
}

.flickr_badge_image {
	float: left;
	margin: 0 10px 10px 0;
}
.flickr_badge_image img:hover { opacity: 0.5; }

/* Video Widget ----------------------------------------------------------*/
.zilla_video { margin-bottom: 10px; }

/* 300 x 250 Widget ------------------------------------------------------*/
.zilla-ad300-widget { padding: 0; }

.zilla-ad300-widget .widget-title { display: none; }

.ads-300 {
	width: 300px;
	height: 250px;
	overflow: hidden;
}

/* Tabbed Widget ---------------------------------------------------------*/
.zilla-tab-widget .zilla_tabs {
	background: #f4f4f4;
	padding: 3px;
}

.zilla-tab-widget #tab-items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
}

.zilla-tab-widget #tab-items li {
	float: left;
	margin: 0 2px 0 0;
	line-height: 40px;
	padding: 0;
	background: none;
}

.zilla-tab-widget #tab-items li a {
	font-size: 11px;
	color: #999;
	padding: 0 10px;
	display: block;
	border-left: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
}

.zilla-tab-widget #tab-items li a:hover,
.zilla-tab-widget #tab-items li.ui-tabs-selected a,
.zilla-tab-widget #tab-items li.ui-state-active a {
	background: #fff;
	text-decoration: none;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

.zilla-tab-widget .tabs-inner {
	border: 1px solid #e8e8e8;
	padding: 15px;
	background: #fff;
}

.zilla-tab-widget .ui-tabs-hide { display: none; }

.zilla-tab-widget .tab ul {
	list-style-type: none;
	margin: 0;
}

.zilla-tab-widget .tab ul li {
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}

.zilla-tab-widget .tab-thumb img {
	padding: 2px;
	background: #f8f8f8;
	border: 1px solid #ddd;
	float: left;
	margin: 0 8px 0 0;
}

.zilla-tab-widget .entry-title,
.zilla-tab-widget .entry-title a {
	font-size: 12px;
	line-height: 20px;
	text-transform: none;
	padding: 0;
}

.zilla-tab-widget .entry-meta,
.zilla-tab-widget .entry-meta a {
	color: #999;
	font-size: 10px;
}

.zilla-tab-widget .entry-meta a:hover {
	text-decoration: none;
	color: #333;
}

.tab-comments .avatar {
	padding: 2px;
	background: #fff;
	border: 1px solid #ddd;
	float: left;
	margin: 0 8px 0 0;
}

.tab-comments h3,
.tab-comments h3 a {
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	font-style: italic;
	color: #666;
	text-transform: none;
}

.tab-tags a {
	color: #666;
	background: #fafafa;
	padding: 3px 6px;
	display: block;
	float: left;
	margin: 0 2px 2px 0;
}

.tab-tags a:hover {
	background: #f2f2f2;
	text-decoration: none;
}

/* Blog Widget ---------------------------------------------------------*/

.zilla-blog-widget .entry-title,
.zilla-blog-widget .entry-title a {
	font-size: 18px;
	line-height: 1.5em;
	margin: 0 0 5px;
}
.zilla-blog-widget .detail {
	font-size: 12px;
	color: #bbb;
}

/* Dribbble Widget ---------------------------------------------------------*/

.zilla-dribbble-shots li { margin-right: 0; }

/*-----------------------------------------------------------------------------------*/
/*	11.	Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (min-width: 1150px) {
	.site-main {
		float: left;
		width: 760px;
	}

	.site-secondary {
		float: right;
		width: 260px;
	}
}

@media screen and (max-width: 1240px) {
	.type-portfolio-1col { margin-bottom: 50px; }
	.type-portfolio-1col .entry-thumbnail {
		float: none;
		margin-bottom: 20px;
	}
	.type-portfolio-1col .entry-thumbnail img { width: 100%; }
	.type-portfolio-1col .entry-header {
		float: none;
		width: auto;
	}

	.page-template-template-portfolio-2col-php .portfolio-container {
		width: auto;
		margin-left: 0;
	}
	.type-portfolio-2col {
		float: none;
		width: 100%;
		margin: 0 0 40px 0;
	}
	.type-portfolio-2col .entry-thumbnail img { width: 100%; }

	.entry-profiles .profile {
		width: 32%;
		margin-right: 2%;
	}

	.single-portfolio .layout-2col .portfolio-content {
		position: static;
		float: none;
		width: 100%;
		height: auto !important;
		top: auto !important;
		overflow: visible;
	}
	.single-portfolio .layout-2col .portfolio-content .entry-content { max-width: 70%; }
	.single-portfolio .layout-2col .portfolio-media-feature,
	.single-portfolio .layout-2col .portfolio-media-main {
		margin-left: 0;
	}
}

@media screen and (max-width: 767px) {
	blockquote { margin-left: 40px; }
	.single-portfolio blockquote { margin: 0 20px; }

	.site-header,
	.site-content,
	.site-footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.site-footer .credit {
		float: none;
		text-align: center;
		margin-bottom: 5px;
		line-height: 1.6em;
	}
	.site-footer .credit span { display: block; }
	.site-footer .social {
		float: none;
		text-align: center;
		margin-bottom: 5px;
	}
	.site-footer .social a { margin: 0 5px; }

	.single-portfolio .entry-content,
	.single-portfolio .layout-2col .portfolio-content .entry-content { max-width: none; }
	.single-portfolio .entry-categories {
		float: none;
		margin-bottom: 10px;
	}
	.single-portfolio .entry-categories ul { text-align: left; }
	.single-portfolio .entry-categories li {
		display: inline;
		margin-right: 10px;
	}
	.portfolio-type-nav { text-align: center; }

	.home-slider .entry-title,
	.home-slider .slidesjs-previous,
	.home-slider .slidesjs-next { display: none; }

	.page-template-template-about-php .entry-content {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	.entry-profiles .profile {
		width: 100%;
		margin-right: 0;
	}
	.entry-profiles .profile-image {
		width: 100%;
	}

	.zilla-mobile-menu a {
		font-size: 18px;
		font-weight: bold;
		color: #fff
		text-transform: uppercase;
		line-height: 1.2em;
	}
}
